h2{
    color:orange;
}

body{
    background-color: #305050;
    color: white;
    font-family: roboto;
    text-align: center;
}

header{
    border-bottom: 1px solid gray;
}

footer{
    border-top: 1px solid gray;
}

#nome-usuário{
    font-weight: bold;
}
.texto-inglês{
    font-style: italic;
}